
/* NBN: align styling with pre-Grails 3 version of BIE */
#breadcrumb {
    display:none
}

.pg-header {
    margin-top: 40px;
    padding-bottom: 20px;
}

.pg-header h1 {
    font-size: 30px;
}

#main {
    padding-left: 0px;
}

.place-tabs .tab-content {
    border: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
}

.tab-content .tab-pane {
    padding: 0px;
}

.chart.data_provider_uid-chart {
    width: 100% !important;
}
.chart.data_resource_uid-chart {
    width: 100% !important;
}

/** Charts **/
.chart.cl14-chart { width:100% !important; }

.chart.cl16-chart { width:100% !important; }


